node_modules
dist
build
.next
.nuxt
.output
.cache
.turbo
coverage
logs
*.log
backup

.DS_Store
.idea
.vscode

.env
.env.*

package-lock.json

eslint.config.js
.prettierrc
.prettierignore
.dockerignore
tsconfig.json