node_modules
dist
build
out
.next
.nuxt
.output
.cache
.turbo
coverage
.nyc_output

logs
*.log
npm-debug.log*
backup

.DS_Store
.idea
.vscode
*.swp
*.swo

.env
.env.*

package-lock.json

.dockerignore
.prettierignore
.prettierrc
